<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="<%= root_path %>">DesafioBackend</a>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="<%= root_path %>">Deputados</a>
				</li>
			</ul>
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fileModal">Upload do Arquivo</button>
		</div>
	</div>
</nav>