<% if flash[:notice].present? %>
	<div class="alert alert-success alert-dismissible fade show">
			<strong><%= flash[:notice] %></strong>
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>

	<script>
		setTimeout(function(){
			window.location.reload();
		}, 50000);
	</script>
<% end %>

<% if flash[:alert].present? %>
	<div class="alert alert-warning alert-dismissible fade show">
		<strong><%= flash[:alert] %></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
<% end %>
